<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <h1><a href="/" style="color: inherit;">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <small>&copy; {{ site.time | date: "%Y" }}</small>
    </footer>
</body>
</html>